body {
  background-color: #f4f4f4;
}

/* ---------------------------------------------------------- */
.navbar {
  background-color: #081c24;
}
.navbar .nav-link {
  padding: 0;
  font-weight: 400;
  cursor: pointer;
}
.navbar .nav-link:hover {
  font-weight: 500;
}

/* .nav-link.active {
  color: red;
} */

.modal-form_input::placeholder {
  font-size: 12px;
}

.form-control.invalid {
  border-color: #dc3545;
}

.invalid-feedback {
  display: block;
}

/* ---------------------------------------------------------- */
.filters-select {
  border: none;
}
.filters-select:hover {
  box-shadow: -1px 2px 5px 0px rgba(0, 0, 0, 0.4) !important;
  /*Не работает*/
}

.movie-body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.movie-innerwrap {
  display: flex;
  flex-direction: column;
}
.line-above-button {
  border-top: 1px solid rgba(138, 138, 138, 0.2);
}
.movie-button {
  cursor: pointer;
  width: 95px;
  font-weight: 500;
  background-color: transparent;
  /* outline: 0; */
  /* border-top: 1px solid rgba(138, 138, 138, 0.2); */
}
.movie-button:hover {
  font-weight: 400;
}
.movie-button:focus {
  outline: 0;
}
